h1 {
  /* border-bottom: 3px solid #000000; */
  /* text-shadow: 2.5px 2.5px 6px gray; */
  color:green;
  font-family:cursive;
  text-align: center;
  /* font-family:Script; */
  font-style:italic;
}

.inputTextarea {
  overflow: auto;
  resize: horizontal;
  height:120px;
  width:1000px;
  box-shadow: 5px 5px 5px #000000;
}

#Icon {
  float: left;
}

#HowToUse {
  /* float: left; */
  white-space: nowrap;
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}


#HowToUse:before {
  content: "";
  position: absolute;
  top: 20%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

#HowToUse p {
  margin: 0;
  padding: 0;
}

.configArea {
  /* position: relative; */
  background-color: #F8C471;
  font-size: 20px;
}

.options1 {
  font-size: 18px;
  background-color: #DEDEDE;
  box-shadow: 5px 5px 2.5px #000000;
}

.options2 {
  font-size: 18px;
  background-color: #DEDEDE;
  box-shadow: 5px 5px 2.5px #000000;
}

.options3 {
  font-size: 18px;
  background-color: #DEDEDE;
  box-shadow: 5px 5px 2.5px #000000;
}

.inputFormBox {
  background: linear-gradient(#94AED6, #5285D8);
  -webkit-animation-name: fade-in1;
  -webkit-animation-duration: 1.0s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade-in1;
  animation-duration: 1.0s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;

}
.indexPlateName{
  color: #303952;
  font-weight: bold;
}

.outputTextarea {
  overflow: auto;
  resize: horizontal;
  height:500px;
  width:600px;
  background: radial-gradient(#efefef, #bfbfbf);
}
.sampleTable {
  border-width: 5px;
  border-style: solid;
  border-collapse: collapse;
  background: #ffffff;
  border-color: rgba(0,0,0,0) #3f3f3f #151515 rgba(0,0,0,0);
}
.sampleTableCell {
  border: dotted 1px black;
  width: 80px;
}
.sampleTableCellHeader {
  text-align: center;
  background: #d3d3d3;
}
.sampleTableCellId {
  text-align: left;
  font-size: 7pt;
  font-weight: bold;
  line-height: 200%;
}
.outputImageBox {
  float: left;
}

div.download {
  clear: both;
  font-weight: bold;
  font-size: 20pt;
}

#selectKitMsg {
  color:#24cc00;
  font-weight:bold;
  margin: 0 0 0 10px;
  /* -webkit-animation: fade-in1 3.5s ease 0s 1 normal; */
  -webkit-animation: fade-in1 0.6s linear 0s infinite alternate;
}

#inputForm {
  margin-bottom: 50px;
}

/* @-webkit-keyframes fade-in1 {
   0% {
     opacity: 0;
     transform: translateY(200px)
   }
   100% {
     opacity: 1;
     transform: translateY(0px)
   }
 } */
 @-webkit-keyframes fade-in1 {
    0% {
      opacity: 0.1;
      transform: translateX(500px)
    }
    90% {
      opacity: 0.9;
      transform: translateX(-100px)
    }
    98% {
      opacity: 0.95;
      transform: translateX(20px)
    }
    100% {
      opacity: 1;
      transform: translateX(0px)
    }
    /* 100% {
      opacity: 0.2;
      transform: translateX(5px)
    } */
  }
